.cart-totals {
  border: 1px solid #000; // Khung đen chuẩn Marseille
  padding: 35px;
  width: 100%;

  h3 {
    font-size: 1.6rem;
    margin-bottom: 25px;
    font-weight: 600;
    letter-spacing: 1px;
  }

  .total-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    font-size: 1.5rem;
    color: #666;

    &.grand-total {
      margin-top: 25px;
      padding-top: 25px;
      border-top: 1px solid #eee;
      color: #000;
      font-weight: 700;
      font-size: 2.2rem;
    }
  }
}

.checkout-btn {
  width: 100%;
  padding: 18px;
  background: #222;
  color: #fff;
  border: none;
  font-weight: 600;
  margin-top: 10px;
  transition: 0.5s;
  border: 1px solid #e5e5e5;
  cursor: pointer;
  &:hover {
    background-color: #fff;
    color: #222;
  }
}

.continue-btn {
  width: 100%;
  padding: 18px;
  background: #fff;
  color: #222;
  border: 1px solid #e5e5e5;
  font-weight: 600;
  margin-top: 12px;
  transition: 0.3s;
  cursor: pointer;

  &:hover {
    background-color: #222;
    color: white;
  }
}

.safe-checkout {
  text-align: center;
  margin-top: 20px;
  font-size: 1.4rem;
  color: v.$secondary_color;
  span {
    color: #4caf50;
    font-weight: 700;
  }
}
