.wrapper {
  max-width: v.$web_inner-width;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}
.product-list {
  @include mix.flex_box;
  width: 100%;
  margin-top: 15px;
  flex-wrap: wrap;
}
.section-grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  width: 50%;
  padding: 15px;
}
.section-grid-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  width: 100%;
}
@media (max-width: 739px) {
  .product-list {
    flex-direction: column;
  }
  .section-grid-2 {
    width: 100%;
  }
  .section-grid-4 {
    grid-template-columns: repeat(2, 1fr);
    padding: 20px;
  }
}
