.payments {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  border: 1px solid v.$sub_color;
  padding: 4px 0px;

  .method-img {
    width: 50px;
    height: auto;
  }
}
.safe-checkout {
  text-align: center;
  margin: 10px 0;
  font-size: 1.4rem;
  color: v.$secondary_color;
  span {
    color: #4caf50;
    font-weight: 700;
  }
}
