.wrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: transparent;
  padding: v.$header_spacerTop 0;
  z-index: 10;
  &.sticky {
    box-shadow: 2px 0 12px 0 rgba(0, 0, 0, 0.15);
    background-color: v.$white_color;
    animation: slideDown ease-out 0.5s forwards;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
  }
}
@keyframes slideDown {
  from {
    top: -85px;
  }
  to {
    top: 0;
  }
}
.container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: v.$web_inner_width;
  width: 100%;
  height: v.$header_height;

  .menu-btn {
    display: none;
    font-size: 2.4rem;
    background-color: transparent;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    padding: 10px;
  }
}
//box icon
.box-icon {
  display: flex;
  gap: 8px;
  align-items: center;
}
//logo
.logo img {
  width: 100%;
  height: v.$header_height;
  cursor: pointer;
}
//nav menu
.nav-menu {
  @include mix.flex_box;
  gap: 20px;
  height: 100%;
}

.right-menu {
  display: flex;
  gap: 8px;
}
.left-menu {
  display: flex;
  gap: 20px;
}

//responsive for mobile
@media (max-width: 739px) {
  .container {
    justify-content: center;
    align-items: baseline;
    .menu-btn {
      display: block;
    }
  }
  .left-menu,
  .right-menu {
    display: none;
  }
}
