.wrapper {
  position: fixed;
  inset: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s ease;
  visibility: hidden;
  &.active {
    visibility: visible;

    .content-wrapper {
      transform: translateY(0);
    }
  }
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.8);
}

.content-wrapper {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
  text-align: center;
  z-index: 1;
  top: 0;
  width: 100%;
  height: 100%;
  transform: translateY(-100%);
  transition: 0.5s;
  background-color: v.$white_color;

  .content {
    width: v.$web_inner_width;
  }
}

.close-main-btn {
  position: fixed;
  top: 30px;
  right: 40px;
  font-size: 3rem;
  background: none;
  border: none;
  cursor: pointer;
  color: v.$primary_color;
  transition: transform 0.3s;

  &:hover {
    transform: rotate(90deg);
  }
}

.title {
  font-size: 3.2rem;
  letter-spacing: 1px;
}

.search-box {
  display: flex;
  align-items: center;
  border-bottom: 2px solid #000;
  padding-bottom: 5px;
  margin-bottom: 40px;
}

.input-wrapper {
  flex: 1;
  display: flex;
  align-items: center;
  position: relative;

  input {
    width: 100%;
    border: none;
    outline: none;
    font-size: 2.4rem;
    padding: 10px 0;
    background: transparent;

    &::placeholder {
      color: v.$secondary_color;
    }
  }
}

.loading-icon,
.clear-btn {
  font-size: 1.8rem;
  color: v.$thr_color;
  margin-right: 15px;
}

.clear-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.search-btn {
  background-color: v.$primary_color;
  color: #fff;
  border: 1px solid v.$primary_color;
  padding: 12px 25px;
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  font-size: 1.4rem;
  transition: 0.4s;

  &:hover {
    background: v.$white_color;
    color: v.$primary_color;
  }

  .search-text {
    margin-left: 4px;
  }
}

.view-all-btn {
  background: v.$primary_color;
  border: 1px solid v.$primary_color;
  color: #fff;
  padding: 15px 35px;
  font-size: 1.4rem;
  cursor: pointer;
  letter-spacing: 2px;
  transition: 0.3s;

  &:hover {
    background: v.$white_color;
    color: v.$primary_color;
    transform: translateY(-2px);
  }
}

//search products
.search-products {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  justify-content: center;
  gap: 20px;
  width: v.$web_inner_width;
  max-height: 650px;
  overflow-y: auto;
  overflow-x: hidden;

  .no-result {
    grid-column: 1 / -1;
    text-align: center;
    padding: 40px 0;
    font-size: 1.8rem;
    color: v.$secondary_color;
    width: 100%;
  }
}
