.nav-link {
  padding: 10px;
  font-weight: 400;
  line-height: 20px;

  &.active::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0%;
    height: 2px;
    background-color: v.$primary-color;
    transform-origin: left;
    transition: 0.3s linear;
  }
}
//nav item
.nav-link {
  position: relative;
  height: 100%;
  @include mix.flex-box;
  cursor: pointer;
  color: v.$primary_color;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0%;
    height: 2px;
    background-color: v.$primary-color;
    transform-origin: left;
    transition: 0.3s linear;
  }

  &:hover::after {
    width: 100%;
  }
  &.active::after {
    width: 100%;
  }
}
