.nav-item {
  position: relative;
  height: 100%;
  @include mix.flex-box;
  cursor: pointer;

  a {
    padding: 10px;
  }

  &:hover .nav-link::after {
    width: 100%;
  }
}
.nav-link {
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0%;
    height: 2px;
    background-color: v.$primary-color;
    transform-origin: left;
    transition: 0.3s linear;
  }
  &.active::after {
    width: 100%;
  }
}
