$primary_color: #333;
$secondary_color: #888;
$thr_color: #555;
$sub_color: #e1e1e1;
$white_color: #fff;
$black_color: #000;
$web_inner_width: 1250px;
$header_height: 55px;
$font_family: "SN Pro", sans-serif;
$header_spacerTop: 15px;
$footer_height: 390px;
