$primary_color: #333;
$secondary_color: #888;
$thr_color: #555;
$sub_color: #404040;
$white_color: #fff;
$header-width: 1250px;
$header-height: 55px;
$font-family: "SN Pro", sans-serif;
$header-spacerTop: 15px;
