.slider-container {
  @include mix.flex_box;
  flex-direction: column;
  padding: 15px;
  margin: 40px 0;
}
.slider-title {
  font-size: 2.4rem;
  color: v.$primary_color;
  font-weight: 500;
  margin-bottom: 12px;
}
.slider-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  max-width: v.$web_inner_width;
  width: 100%;
  gap: 20px;

  &::-webkit-scrollbar {
    display: none;
  }
}
@media (max-width: 739px) {
  .slider-list {
    overflow-x: auto;
  }
}
