.banner {
  @include mix.flex_box;
  width: 100%;
  min-height: 240px;
  background-size: cover;
  background-position: center;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  .title {
    font-size: 4.2rem;
    color: #222;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 52px;
  }
  .description {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 25px;
    color: v.$thr_color;
    margin-bottom: 40px;
  }
}
.btn {
  width: 175px;
  height: 42px;
  font-size: 1.4rem;
  font-weight: 400;
  border: 1px solid v.$primary_color;
  background-color: v.$primary_color;
  &:hover {
    background-color: v.$white_color;
    color: v.$black_color;
  }
}
@media (max-width: 739px) {
  .content {
    padding: 0 30px;

    .title {
      font-size: 2.8rem;
      line-height: 40px;
    }
  }
}
